body {
  font-family: "Manrope", sans-serif;
}
// NAVBAR----

.navbar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .navlinks-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;

    li {
      padding: 0 20px;
      text-decoration: none;
      list-style: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #1e2532;
    }

    .link-arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-left: 8px;
      }
    }
    @media (min-width: 768px) and (max-width: 950px) {
    }
  }
  .search {
    display: flex;
    align-items: center;
    width: 356px;
    height: 44px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-left: 48px;

    img {
      margin-left: 20px;
      margin-right: 10px;
    }
    input {
      width: 326px;
      outline: none;
      border: none;
      background-color: transparent;

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #c5c5c5;
      }
    }
  }
}

// QUESTIONS---

.questions-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
  margin-top: 48px;

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #e7332b;
  }
  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 16px 0;
    color: #1e2532;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1e2532;
  }
}

// TEAMS----

.teams-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;

  .teamNames {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 93%;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin: 12px 0;
      line-height: 32px;
      color: #1e2532;
    }
  }
}

// FOOTER----
.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding-top: 20px;
  border-top: 1px solid #d3cece;

  .copyright {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #1e2532;
      opacity: 0.5;
      span {
        font-size: 22px;
        color: black;
        margin-right: 2px;
      }
    }
  }
  .language {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 8px;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #1e2532;
      opacity: 0.5;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
}
