body {
  font-family: "Manrope", sans-serif;
}
// NAVBAR----

.navbar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .logo {
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100px;
    }
  }
  .navlinks-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;

    li {
      padding: 0 20px;
      text-decoration: none;
      list-style: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #1e2532;
    }

    .link-arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-left: 8px;
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
  .menu {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      display: none;
      margin-left: 16px;
      @media (min-width: 320px) and (max-width: 768px) {
        display: block;
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    width: auto;
    height: 44px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-left: 48px;

    img {
      margin-left: 20px;
      margin-right: 10px;
    }
    input {
      width: 326px;
      outline: none;
      border: none;
      background-color: transparent;

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #c5c5c5;
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
    @media (min-width: 769px) and (max-width: 1023px) {
      display: none;
    }
  }
}

// QUESTIONS---

.questions-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
  margin-top: 48px;

  @media (min-width: 320px) and (max-width: 768px) {
    align-items: flex-start;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #e7332b;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 14px;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 16px 0;
    color: #1e2532;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 32px;
      margin: 0;
      line-height: 40px;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1e2532;
    margin-bottom: 72px;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 16px;
      line-height: 32px;

      margin-bottom: 64px;
    }
  }

  .question-item-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      width: 100%;
    }
    .question-item {
      width: 700px;
      background: #eff2f9;
      border-radius: 4px;
      @media (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
      }
    }
    .question-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        color: #1e2532;
      }
    }

    .question-content {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: 0.4s;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding: 0 16px;
        color: #1e2532;
      }
    }
    .active {
      height: 150px;
    }
  }
}

// TEAMS----

.teams-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
  padding: 20px;

  @media (min-width: 320px) and (max-width: 768px) {
  }

  ul {
    padding: 0;
    width: 150px;
    li {
      list-style: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin: 12px 0;
      line-height: 32px;
      color: #1e2532;
    }
  }
}

// FOOTER----
.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 88px;
  padding-top: 20px;
  padding-bottom: 24px;
  border-top: 1px solid #d3cece;

  .logo {
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100px;
    }
  }
  .copyright {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #1e2532;
      opacity: 0.5;

      span {
        font-size: 22px;
        color: black;
        margin-right: 2px;
      }
    }
  }
  .language {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 8px;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #1e2532;
      opacity: 0.5;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
}
